@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

        /* PUT BORDERS AROUND EVERYTHING FOR TESTING */
        /* border-style: solid;
        border-color: red;
        border-width: 1px; */
}

/* WRAPPER / CONTAINER STUFF */

html {
    /* VARIABLES */
    --color-link-hover: red;
    --color-background: rgb(242, 223, 117);
    --color-foreground: rebeccapurple;

    /* FONTS, BACKGROUNDS, ETC. */
    background: var(--color-background);
    color: var(--color-foreground);
    
    font-family: 'Roboto', sans-serif;
    font-size: 20px 1.618;
}

body {

}

.wrapper {
    max-width: 50rem;
    margin: auto;

}

.container {

}

.table {
    
}


/* LISTS, LINKS, ETC. */

ul {
    list-style: none;
}

a {
    color: inherit;
}

a:hover {
    color: var(--color-link-hover);
}

/* CLASSES */

.main-header {
    align-items: center;
    background: var(--color-foreground);
    box-shadow: 0 0 10px black;
    color: var(--color-background);
    display:flex;
    justify-content: space-between;
    padding: 1rem;
}

.main-header__title {
    
}

.main-header__info {
    display: flex;
    align-items: center;
}

.main-header__info__title {
    
}

.main-header__info__content {
    padding-left: 0.25rem;
}

.info-title {
    padding: 1rem;
}

.info-section {
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 0.5rem;
    padding-left: 1rem;
    width: 100%;
}

.info-section__content-div {
    display:flex;
    align-items:center;
}

.info-section__content-div__title {
}

.info-section__content-div__content {
    padding-left: 0.25rem;
}

.info-section__modify-button {
    background-color: var(--color-foreground);
    border-color: black;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px black;
    color: var(--color-background);
    margin-left: 0.5rem;
    padding: 0.5rem;
}

.info-section__modify-button:hover {
    transform:scale(1.05);
}

.eligibility-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    padding-left: 1rem;
}

.eligibility-section__title {
    padding-left: 0.25rem;
}

.eligibility-section__content {
    padding-left: 0.25rem
}

.eligible {
    background-color: green;
    color: white;
}

.ineligible {
    background-color: red;
    color: white;
}

.give-food-button {
    background-color: green;
    color: white;
    border-radius: 0.5rem;
    border-color: black;
    box-shadow: 0 0 10px black;
    font-size: 3rem;
    margin: 0.5rem;
    padding: 1rem;
}

.give-food-button:hover {
    transform: scale(1.05);
}

.disabled {
    background-color: grey;
    color: white;
}

.disabled:hover {
    transform:none;
}

.kitchen-main-header {
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.kitchen-sub-header {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}