@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* PUT BORDERS AROUND EVERYTHING FOR TESTING */
  /* border-style: solid;
       border-color: red;
       border-width: 1px; */
}
/* WRAPPER / CONTAINER STUFF */
html {
  --color-link-hover: #7fffd4;
  --color-background: #deb887;
  --color-foreground: #fff;
  --gradient-top: rgba(39, 38, 38, 0.7);
  --gradient-bottom: rgba(39, 38, 38, 0.7);
  color: var(--color-foreground);
  /* FONTS, BACKGROUNDS, ETC. */
  font-family: "Roboto", sans-serif;
  /* font-size: 20px 1.618; */
  background-image: linear-gradient(var(--gradient-top), var(--gradient-bottom)),
    url(pexels-photo-1435895.jpeg);
  background-size: cover;
}
body {
}
.wrapper {
  max-width: 50rem;
  margin: auto;
}
.container {
}
.table {
}
/* LISTS, LINKS, ETC. */
ul {
  list-style: none;
}
a {
  color: inherit;
}
a:hover {
  color: var(--color-link-hover);
}
.queue-div {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.queue-div ul {
  display: flex;
  flex-direction: row;
  width: 90vw;
  font-size: 1rem;
  height: auto;
}
.queue-div ul li {
  flex-grow: 1;
  width: 5rem;
}
.queue-field__title ul li:last-child {
  background-color: orange;
}
.queue-field__title {
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-style: bold;
  font-size: 50px !important;
}

.queue-field__order {
  margin-top: 2rem;
  font-size: 36px !important;
}

.kitchen-buttons {
  display: flex;
  justify-content: space-around;
}
.kitchen-button-undo {
  background-color: red;
  color: white;
  border-radius: 0.3rem;
  border-color: black;
  box-shadow: 0 0 10px black;
  font-size: 36px;
  margin: 0.5rem;
  padding: 0.5rem;
}
.kitchen-button-finished {
  background-color: green;
  color: white;
  border-radius: 0.3rem;
  border-color: black;
  box-shadow: 0 0 10px black;
  font-size: 36px;
  margin: 0.5rem;
  padding: 0.5rem;
}
