<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kitchen</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <header class='kitchen-main-header'>
        <h1>Recipients</h1>
        <h1>Household Size</h1>
    </header>
    <div class='kitchen-sub-header'>
        <h2>John Doe</h2>
        <h2>5</h2>
    </div>
    <div class='kitchen-sub-header'>
        <h2>Joe Schmo</h2>
        <h2>3</h2>
    </div>
    <div class="kitchen-buttons"><input type='button' id='undo-button' class='mybutton' value='Undo' />
        <input type='button' id='finished-button' class='mybutton' value='Finished' />
    </div>
</body>

</html>