<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Recipient </title>
</head>

<body>
    <div class='wrapper'>
        <header class='main-header'>
            <h1>New Recipient</h1>
        </header>
        <form class='recipientform'>
            First Name:<br>
            <input type="text" name="FirstName"><br>
            Last Name:<br>
            <input type="text" name="LastName">
            <br>
            Date Of Birth:<br>
            <input type="text" name="DateOfBirth">
            <br>
            Address:<br>
            <input type="text" name="Address">
            <br>
            Phone Number:<br>
            <input type="text" name="PhoneNumber">
            <br>
            Household:<br>
            <input type="text" name="Household"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>