<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Recipient </title>
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <div class='wrapper'>
        <header class='main-header'>
            <h1>New Recipient</h1>
        </header>
        <form class='recipient-form'>
            First Name:<br>
            <input type="text" placeholder="FirstName"><br>
            Last Name:<br>
            <input type="text" placeholder="LastName">
            <br>
            Date Of Birth:<br>
            <input type="text" placeholder="DateOfBirth">
            <br>
            Address:<br>
            <input type="text" placeholder="Address">
            <br>
            Phone Number:<br>
            <input type="text" placeholder="PhoneNumber">
            <br>
            Household Size:<br>
            <input type="text" placeholder="HouseholdSize"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>