<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>
        <form action="POST">
			<input type="text" placeholder="Search.." name="search" />
			<button type="submit">Search</button>
		</form>
    </header>
    <main>
        <section>
            <table>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>DOB</th>
                    <th>Phone #</th>
                    <th>Address</th>
                    <th>Household</th>
                    <th>Delivery</th>
                    <th>Eligable</th>
                </tr>

                <tr>
                    <th>John</th>
                    <th>Doe</th>
                    <th>11/12/1985</th>
                    <th>614 555 1212</th>
                    <th>123 Anywhere St</th>
                    <th>4</th>
                    <th>No</th>
                    <th>Yes</th>
                </tr>

                <tr>
                    <th>Prometheus</th>
                    <th></th>
                    <th>600BCE</th>
                    <th>555 432 1234</th>
                    <th>Unknown</th>
                    <th>1</th>
                    <th>Yes</th>
                    <th>No</th>
                </tr>

                <tr>
                    <th>Bruce</th>
                    <th>Wayne</th>
                    <th>7/18/1934</th>
                    <th>123 666 1337</th>
                    <th>1007 Mountain Dr</th>
                    <th>2</th>
                    <th>Yes</th>
                    <th>Yes</th>
                </tr>
            </table>
        </section>
    </main>
</body>
</html>