<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <header class='main-header'>
        
    </header>
    <main>
        <section class='search-bar'>
            <form class='recipient-search'>
			    <input class='recipient-search__input' type="text" placeholder="Search.." name="search" />
			    <button class='recipient-search__submit' type="submit">Search</button>
		    </form>
        </section>
        <section class='recipient-results'>
            <table class='results-table'>
                <tr class='results-table__head'>
                    <th class= 'head__firstname'>First Name</th>
                    <th class= 'head__lastname'>Last Name</th>
                    <th class= 'head__dob'>DOB</th>
                    <th class= 'head__phone'>Phone #</th>
                    <th class= 'head__address'>Address</th>
                    <th class= 'head__household'>Household</th>
                    <th class= 'head__delivery'>Delivery</th>
                    <th class= 'head__eligible'>Eligable</th>
                </tr>

                <tr>
                    <th>John</th>
                    <th>Doe</th>
                    <th>11/12/1985</th>
                    <th>614 555 1212</th>
                    <th>123 Anywhere St</th>
                    <th>4</th>
                    <th>No</th>
                    <th>Yes</th>
                </tr>

                <tr>
                    <th>Prometheus</th>
                    <th></th>
                    <th>600BCE</th>
                    <th>555 432 1234</th>
                    <th>Unknown</th>
                    <th>1</th>
                    <th>Yes</th>
                    <th>No</th>
                </tr>

                <tr>
                    <th>Bruce</th>
                    <th>Wayne</th>
                    <th>7/18/1934</th>
                    <th>123 666 1337</th>
                    <th>1007 Mountain Dr</th>
                    <th>2</th>
                    <th>Yes</th>
                    <th>Yes</th>
                </tr>
            </table>
        </section>
    </main>
</body>
</html>