<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <main>
        <form>
            <input type="text" placeholder="1/1/2016" name="start-date" />
            <img style="width: 200px;" src ="../../assets-dump/date-picker.PNG" />
        </form>
        <table>
            <tr>
                <th colspan="2">Food Bought</th>
                <th colspan="2">Food Distributed</th>
                <th rowspan="2">Households Served</th>
                <th rowspan="2">People Served</th>
            </tr>
            <tr>
                <th>lbs</th>
                <th>Dollars</th>
            </tr>
            <tr>
                <th>17000</th>
                <th>24698</th>
                <th>14560</th>
                <th>19330</th>
                <th>460</th>
                <th>1230</th>
            </tr>
        </table>
    </main>
</body>
</html>