<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Head Of Household</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <div class='wrapper'>
        <header class='main-header'>
            <h1 class='main-header__title'>Community Drop In Center</h1>
        </header>
        <main>
            <div class='container'>
                <h2 class='info-title'>John Doe</h2>
                <section class='info-section'>
                    <div class='info-section__content-div'>
                        <h3 class='info-section__content-div__title'>DOB:</h3>
                        <h4 class='info-section__content-div__content'>11/12/1985</h4>
                    </div>
                </section>
                <section class='info-section'>
                    <div class='info-section__content-div'>
                        <h3 class='info-section__content-div__title'>Phone:</h3>
                        <h4 class='info-section__content-div__content'>(614) 555-1212</h4>
                    </div>
                    <button class='info-section__modify-button'>Change Phone #</button>
                </section>
                <section class='info-section'>
                    <div class='info-section__content-div'>
                        <h3 class='info-section__title'>Address:</h3>
                        <h4 class='info-section__content-div__content'>123 Anywhere St.</h4>
                        <h4 class='info-section__content-div__content'>Canton, Ohio 44707</h4>
                    </div>
                    <button class='info-section__modify-button'>Change Address</button>
                </section>
                <section class='info-section'>
                    <div class='info-section__content-div'>
                        <h3 class='info-section__content-div__title'>Household Size:</h3>
                        <h4 class='info-section__content-div__content'>5</h4>
                    </div>
                    <button class='info-section__modify-button'>Change Household Size</button>
                </section>
                <section class='info-section'>
                    <div class='info-section__content-div'>
                        <h3 class='info-section__content-div__title'>Delivery:</h3>
                        <h4 class='info-section__content-div__content'>Yes</h4>
                    </div>
                    <button class='info-section__modify-button'>Remove Delivery</button>
                </section>
                <section class='eligibility-section'>
                    <!-- <h3 class='eligibility-section__title eligible'>Eligibility: ELIGIBLE TO GET FOOD TODAY</h3> -->
                    <button class='give-food-button'>SUBMIT ORDER</button>
                    <!-- <h3 class='eligibility-section__title ineligible'>Eligibility: NOT ELIGIBLE TO GET FOOD TODAY</h3>
                    <button class='give-food-button disabled'>SUBMIT ORDER</button> -->
                    <h4 class='eligibility-section__content'></h4>
                    <table>
                        <thead>
                            <tr>
                                <th colspan='2'>RECENT ORDERS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>PEOPLE</td>
                                <td>DATE</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>08/02/2019</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>07/26/2019</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>07/19/2019</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan='2'>SHOW MORE...</td>
                            </tr>
                        </tfoot>
                    </table>
                </section>
            </div> <!-- /container -->
        </main>
    </div> <!-- /wrapper -->
</body>

</html>