/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

        /* PUT BORDERS AROUND EVERYTHING FOR TESTING */
        /* border-style: solid;
        border-color: red;
        border-width: 1px; */
}

/* WRAPPER / CONTAINER STUFF */

html {
    
    /* VARIABLES */
    --color-link-hover: #7FFFD4;
    --color-background: #fff;
    --color-foreground: #fff;
    --gradient-top: rgba(49, 32, 23, 0.5);
   --gradient-bottom: rgba(49, 32, 23, 0.5);
    color: var(--color-foreground);
    
    font-family: 'Roboto', sans-serif;
    font-size: 20px 1.618; 
    /* FONTS, BACKGROUNDS, ETC. */
    background-image:linear-gradient(var(--gradient-top), var(--gradient-bottom)), url(../src/images/pexels-photo-1435895.jpeg);
    
    background-size: cover;
    
    
}

body {
    
}

.wrapper {
    max-width: 50rem;
    margin: auto;
    
}

.container {
    
}

.table {
    
}


/* LISTS, LINKS, ETC. */

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--color-link-hover);
}

/* CLASSES */

.main-header {
    align-items: center;
    /* background: var(--color-foreground); */
    /* box-shadow: 0 0 10px black; */
    color: var(--color-background);
    display:flex;
    justify-content: space-between;
    padding: 1rem;
    font-size:2rem;
    padding-bottom: 5rem;
   
}

.main-header__info {
    display: flex;
    align-items: center;
   
}



.main-header__info__content {
    padding-left: .25rem;
}
.main-header__title{
    font-size:3rem;
}
.link-all{
    /* background-color: rgb(41, 25, 16); */
    color: white;
    /* border-radius: 0.5rem;
    border-color: black;
    box-shadow: 0 0 10px black; */
  
    
}
.info-title {
    padding: 1rem;
}

.info-section {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    padding-left: 1rem;
    width: 100%;
}

.info-section__content-div {
    display: flex;
    align-items: center;
}

.info-section__content-div__title {
}

.info-section__content-div__content {
    padding-left: 0.25rem;
}

.info-section__modify-button {
    /* background-color: var(--color-foreground); */
    border-color: black;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px black;
    /* color: #fff; */
    margin-left: 0.5rem;
    padding: 0.5rem;
}

.info-section__modify-button:hover {
    transform:scale(1.05);
}

.eligibility-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    padding-left: 1rem;
}

.eligibility-section__title {
    padding-left: 0.25rem;
}

.eligibility-section__content {
    padding-left: 0.25rem
}

.eligible {
    background-color: green;
    color: white;
}

.ineligible {
    background-color: red;
    color: white;
}

.give-food-button {
    background-color: rgb(41, 25, 16);
    color: white;
    border-radius: 0.5rem;
    border-color: black;
    box-shadow: 0 0 5px black;
    font-size: 1rem;
    margin: 0.5rem;
    padding: 1rem;
}

.give-food-button:hover {
    transform: scale(1.05);
}
.new-recipient-div{
    text-align: center;
    margin-top: 10rem;
}
.new-recipient-button{
    /* background-color: rgb(41, 25, 16); */
    color: white;
    /* border-radius: 0.5rem;
    border-color: black;
    box-shadow: 0 0 10px black; */
    font-size: 2rem;
    margin-top: 10rem;

    
}
.new-recipient-button:hover{
    transform: scale(1.05); 
}

.disabled {
    background-color: grey;
    color: white;
}

.disabled:hover {
    transform:none;
}

.kitchen-main-header {
    color: var(--color-background);
    background: var(--color-foreground);
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

.kitchen-sub-header {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
}

/* search sortby page */

.search-bar{
    margin-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
}

.recipient-search{
    width: inherit;
    height: 3rem;
    display: flex;
}

.recipient-search__input{
    flex-grow: 2;
    height: inherit;
    font-size: 3rem;
}

.recipient-search__submit{
    font-size: 2rem;
}

.recipient-results{
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
}

.results-article{
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(41, 25, 16, 0.6);
}

.results-article ul{
    display: flex;
    flex-direction: row;
    width: 100vw;
    /* font-size: 1rem; */
    margin-bottom: 20px;
    height: auto;
}
.results-article li{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 5rem;
    font-weight:1000;
    color: white;
    /* border-radius: 0.5rem;
    border-color: black;
    box-shadow: 0 0 10px black; */
    

}

ul{
    /* border-collapse: collapse; */
}

li{
    border-right: 2px, 2px, solid black;
    border-bottom: 2px, 2px, solid black;
    
}
.results-table__head{
    font-weight:bolder;
    font-size: 1.5rem;
}
/*keep*/
.results-table__head li{
   /* -webkit-touch-callout: none; /* iOS Safari 
      -webkit-user-select: none; /* Safari 
       -khtml-user-select: none; /* Konqueror HTML 
         -moz-user-select: none; /* Firefox 
          -ms-user-select: none; /* Internet Explorer/Edge 
              user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}





