<ul class="queue-field__title">
  <li>Recipients</li>
  <li>Household Size</li>
  <li></li>
</ul>
<ul class="queue-field__order" th:each="order: ${orders}">
  <li th:text="${order.hohFirstName} + ' ' + ${order.hohLastName}"></li>
  <li th:text="${order.size}"></li>
  <li>
    <div class="kitchen-buttons">
      <form>
        <input
          class="id-input"
          type="hidden"
          name="_method"
          th:value="${order.id}"
        />
        <button type="submit" class="kitchen-button-undo cancel-button">
          Cancel
        </button>
      </form>
      <button class="kitchen-button-finished serve-button">Serve</button>
    </div>
  </li>
</ul>
